.titlepage{
  background-color: rgba(0, 0, 0, 0.7);
}

header{
  background-image: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.titlepage h1, .titlepage p, .titlepage img{
  margin: 10px;
}






.articles{
    display: flex;
    flex-direction: row;
}

.ttlart h1{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 38px;
}

.articles img{
    width: 200px;
}

.flexart{
    display: flex;
    flex-direction: row;
}

.dernart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.p1{
    margin-left: 25px;
    margin-right: 25px;
    width: 600px;
}

.fontart{
    font-size: 12px;
}

.art{
    font-size: 23px;
}


@media(max-width: 1024px){
  .input form{
    display: none;
  } 
}

@media(max-width: 768px){
    .input{
        display: none;
    }
    .flexart{
        flex-direction: column;
    }  
    .flexart img{
        width: 100%;
    }
    .dernart{
        margin: 30px auto;
        align-items: center;
    }
}
