body{
  font-family: Oswald;
}

/*HEADER*/

header {
  font-family: Courgette;
}

nav{
  font-family: Oswald;
}

.entete {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.entete a{
  font-weight: 300;
  padding: 5px;
}

.gras{
  font-family: Courgette;
}

a{
  text-decoration: none;
}

.active{
  color: #fff;
}
.inactive {
  color: rgba(255, 255, 255, 0.5);
}

.titlepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: 440px;
  color: white;
}
.titlepage img{
  width: 90px;
}





/*FOOTER*/

footer{
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

.footcont{
  display: flex;
  flex-direction: row;
  margin: 60px auto;
}
.footcont a{
  color: white;
  text-decoration: underline;
  font-size: 13px;
}
.footcont p{
  font-size: 20px;
}

.column {
  flex-direction: column;
  margin: auto;
  padding: 0 100px;
}
.column a {
  flex-direction: column;
}

.footcol{
  margin: auto 60px;
}

footer i{
  padding: 10px;
  margin: 0 10px;
  background-color: #000;
  filter: invert(1);
}

footer .gras{
  margin-bottom: 5px;
}


@media(max-width:768px){
  footer{
    flex-direction: column;
    padding-bottom: 60px;
  }
  .footcont{
    flex-direction: column;
    margin: 60px 0;
  }
  .column{
    margin: 10px 0;
  }
}