header {
  font-family: Courgette;
}

body{
  font-family: Oswald;
}

nav{
  font-family: Oswald;
}

.entete {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.entete a{
  font-weight: 300;
  padding: 5px;
}

.gras{
  font-family: Courgette;
}

a{
  text-decoration: none;
}

.active{
  color: #fff;
}
.inactive {
  color: rgba(255, 255, 255, 0.5);
}

.titlepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: 440px;
  color: white;
}
.titlepage img{
  width: 90px;
}